.progressBar {
    position: absolute;
    top: 80px;
    width: 500px;
    height: 20px;
    border: 1px solid var(--primary);
    background-color: #fff;
    border-radius: var(--border-radius);
    overflow: hidden;
    .progression {
        text-align: center;
        font-weight: 700;
        width: 0%;
        height: 100%;
        background-color: var(--primary);
        color: white;
        z-index: 1;
        opacity: 0.8;
    }
    .progression20 {
        width: 20%;
    }
    .progression40 {
        width: 40%;
    }
    .progression60 {
        width: 60%;
    }
    .progression80 {
        width: 80%;
    }
    .progression100 {
        width: 100%;
    }
}