.question {
    input {
        font-weight: 700;
        text-align: left;
        width: 80%;
        padding: 10px;
    }
    button {
        padding: 10px 15px;
        font-weight: 700;
    }
    .error {
        color: rgb(228, 11, 11);
        font-weight: bold;
    }
}