.question {
    input {
        font-weight: 700;
        text-align: left;
        width: 80%;
        padding: 10px;
    }
    .selectedRes {
        background-color: green;
        color: white;
        border: green;
    }
    button {
        padding: 10px 15px;
        font-weight: 700;
    }
}