.timer {
    position: absolute;
    padding: 20px;
    top: 25px;
    right: 25px;
    width: 200px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}