.P-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.m-5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-30 {
    margin: 30px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.selected-bg {
    border-color: green;
}